body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
    height: 480px;
}

.content-text h1 {
    color: rgb(202, 201, 201);
    margin-top: 5px;
    font-size: 30px;
}


.content-text h2 {
    font-size: 30px;
    color: rgb(202, 201, 201);
    margin-top: 5px;
}

.content-text p {
    color: rgb(202, 201, 201);
    width: 500px;
    margin-top: 20px;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 70px;
}

.social_media img {
    width: 50px;
}

a:hover {
    filter: blur(1px);
    transform: scale(1);
    opacity: 1;
}

.social_media:hover {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
}

#link_social_media {
    width: 50px;
}

.content {
    display: flex;
}

#I_am {
    display: flex;
}

.content .frontEnd {
    color: rgb(34, 138, 170);
    margin-left: 7px;
}

#img_Me {
    width: 300px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid rgb(34, 138, 170);
}

#name_cristian {
    color: rgb(34, 138, 170);
    margin-left: 8px;
}