* {
    margin: 0;
    padding: 0;
    font-family: 'calibri';
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.registro_center {
    width: 70%;
    height: 90%;
    display: grid;
    align-content: space-around;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 650px;
   background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    border: 1px solid rgb(34, 138, 170);
    position: relative;
}

#registro_titu {
    color: white;
    text-align: center;
    font-size: 25px;
}

.digitar {
    position: relative;
}

.digitar input {
    width: 100%;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    border-left: 1px solid #ffffff;
    outline: none;
    background: transparent;
    font-family: sans-serif;
    font-size: 18px;
}

.digitar label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.digitar input:focus~label,
.digitar input:valid~label {
    top: -25px;
    left: 0;
    color: rgb(34, 138, 170);
    font-size: 17px;
}

.comunity {
    text-align: center;
    padding-top: 20px;
    color: rgba(251, 251, 251, 0.692);
    font-size: 15px;    
}

#input_registrar {
    display: flex;
    justify-content: center;
}

#registras_boton {
    width: 100%;
    height: 40px;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    background: rgb(34, 138, 170);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#input_registrar a{
    text-decoration: none;
}

.registro {
    display: contents;
}

.registro .digitar input {
    position: relative;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    font-family: sans-serif;
    /* color: rgb(34, 138, 170); */
}

.registro .digitar label {
    position: absolute;
    color: white;
    pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}